body {
    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.dropdown-toggle,
.dropdown-menu {
    color: rgb(250, 250, 188);
}

.button-heart {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
}

.button-heart:focus {
    outline: 2px solid #fada5e;
    outline-offset: 2px;
}

.heart-icon {
    font-size: 30px;
    color: rgb(233, 237, 241);
    transition: color 0.2s ease;
}